<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("view.medical_record_number") %>:</strong>
  <%= medical_record_number @patient %>
</p>

<p>
  <strong><%= t("view.full_name") %>:</strong>
  <%= full_name @patient %>
</p>

<p>
  <strong><%= t("view.age") %>:</strong>
  <%= patient_age @patient %>
</p>

<p>
  <strong><%= t("view.gender") %>:</strong>
  <%= @patient.gender.text %>
</p>

<p>
  <strong><%= t("view.status") %>:</strong>
  <%= @patient.status.text %>
</p>

<p>
  <strong><%= t("view.location_name") %>:</strong>
  <%= @patient.location.name %>
</p>

<p>
  <strong><%= t("view.viewed_count") %>:</strong>
  <%= @patient.viewed_count %>
</p>

<%= link_to t("action.edit"), edit_patient_path(@patient) %> |
<%= link_to t("action.back"), patients_path %>
