<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("view.code") %>:</strong>
  <%= @patient.location.code %>
</p>

<p>
  <strong><%= t("view.name") %>:</strong>
  <%= @patient.location.name %>
</p>

<%= link_to t("action.back"), patients_path %>
